In [121]:
import defs
import requests
import pandas as pd

In [122]:
session = requests.Session()

In [123]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [124]:
response = session.get(url,params=None, headers=defs.SECURE_HEADER)

In [125]:
data = response.json()

In [126]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [127]:
insturments = data['instruments']

In [128]:
len(insturments)

68

In [129]:
insturments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [130]:
insturment_data = []
for item in insturments:
    new_obj = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate'],
    )
    insturment_data.append(new_obj)

In [131]:
for item in insturment_data[0:3]:
    print(item)

{'name': 'GBP_SGD', 'type': 'CURRENCY', 'displayName': 'GBP/SGD', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'USD_SEK', 'type': 'CURRENCY', 'displayName': 'USD/SEK', 'pipLocation': -4, 'marginRate': '0.03'}
{'name': 'EUR_DKK', 'type': 'CURRENCY', 'displayName': 'EUR/DKK', 'pipLocation': -4, 'marginRate': '0.1'}

In [132]:
insturment_df = pd.DataFrame.from_dict(insturment_data)

In [133]:
insturment_df

       name      type displayName  pipLocation marginRate
0   GBP_SGD  CURRENCY     GBP/SGD           -4       0.05
1   USD_SEK  CURRENCY     USD/SEK           -4       0.03
2   EUR_DKK  CURRENCY     EUR/DKK           -4        0.1
3   CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
4   USD_CZK  CURRENCY     USD/CZK           -4       0.05
..      ...       ...         ...          ...        ...
63  EUR_AUD  CURRENCY     EUR/AUD           -4       0.03
64  GBP_AUD  CURRENCY     GBP/AUD           -4       0.05
65  USD_PLN  CURRENCY     USD/PLN           -4       0.05
66  EUR_CHF  CURRENCY     EUR/CHF           -4       0.04
67  EUR_ZAR  CURRENCY     EUR/ZAR           -4       0.07

[68 rows x 5 columns]

In [134]:
insturment_df.to_pickle("instruments.pkl")