In [12]:
import requests
import defs
import pandas as pd

In [13]:
session = requests.Session()

In [14]:
instrument = "EUR_USD"
count = 10
granilarity = "H1"

In [15]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [16]:
params = dict(
    count = count,
    granilarity = granilarity,
    price = "MBA"
)

In [17]:
params

{'count': 10, 'granilarity': 'H1', 'price': 'MBA'}

In [18]:
response = session.get(url,params=params, headers=defs.SECURE_HEADER)

In [19]:
response.status_code

200

In [20]:
data = response.json()

In [21]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [22]:
len(data['candles'])

10

In [25]:
prices = ['mid','bid','ask']
ohlc = ['o','h','l','c']

In [26]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [27]:
data['candles'][0]

{'complete': True,
 'volume': 1,
 'time': '2023-05-29T21:03:35.000000000Z',
 'bid': {'o': '1.07072', 'h': '1.07072', 'l': '1.07072', 'c': '1.07072'},
 'mid': {'o': '1.07119', 'h': '1.07119', 'l': '1.07119', 'c': '1.07119'},
 'ask': {'o': '1.07166', 'h': '1.07166', 'l': '1.07166', 'c': '1.07166'}}

In [33]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2023-05-29T21:03:35.000000000Z', 'volume': 1, 'mid_o': '1.07119', 'mid_h': '1.07119', 'mid_l': '1.07119', 'mid_c': '1.07119', 'bid_o': '1.07072', 'bid_h': '1.07072', 'bid_l': '1.07072', 'bid_c': '1.07072', 'ask_o': '1.07166', 'ask_h': '1.07166', 'ask_l': '1.07166', 'ask_c': '1.07166'}

In [34]:
candle_df = pd.DataFrame.from_dict(our_data)

In [35]:
candle_df.to_pickle("EUR_USD_H1.pkl")

In [36]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [37]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-05-29T21:03:35.000000000Z,1,1.07119,1.07119,1.07119,1.07119,1.07072,1.07072,1.07072,1.07072,1.07166,1.07166,1.07166,1.07166
1,2023-05-29T21:03:45.000000000Z,1,1.07116,1.07116,1.07116,1.07116,1.07067,1.07067,1.07067,1.07067,1.07165,1.07165,1.07165,1.07165
2,2023-05-29T21:04:20.000000000Z,1,1.07115,1.07115,1.07115,1.07115,1.07065,1.07065,1.07065,1.07065,1.07165,1.07165,1.07165,1.07165
3,2023-05-29T21:05:00.000000000Z,7,1.07113,1.07116,1.07108,1.07108,1.07064,1.07069,1.07061,1.07062,1.07162,1.07163,1.07154,1.07154
4,2023-05-29T21:05:05.000000000Z,2,1.07108,1.07108,1.07108,1.07108,1.07063,1.07063,1.07062,1.07062,1.07153,1.07154,1.07153,1.07154
5,2023-05-29T21:05:10.000000000Z,3,1.07110,1.07110,1.07106,1.07106,1.07066,1.07066,1.07060,1.07061,1.07155,1.07155,1.07151,1.07151
6,2023-05-29T21:05:30.000000000Z,2,1.07107,1.07108,1.07107,1.07108,1.07063,1.07065,1.07063,1.07065,1.07151,1.07151,1.07151,1.07151
7,2023-05-29T21:05:35.000000000Z,1,1.07121,1.07121,1.07121,1.07121,1.07082,1.07082,1.07082,1.07082,1.07160,1.07160,1.07160,1.07160
8,2023-05-29T21:05:50.000000000Z,1,1.07122,1.07122,1.07122,1.07122,1.07084,1.07084,1.07084,1.07084,1.07161,1.07161,1.07161,1.07161
9,2023-05-29T21:05:55.000000000Z,1,1.07122,1.07122,1.07122,1.07122,1.07083,1.07083,1.07083,1.07083,1.07161,1.07161,1.07161,1.07161